<div id="container">
    <div id="expenses-table">
        <h2>Despesas</h2>
        <table matSort (matSortChange)="sortData($event, expensesData())">
            <tr>
                <th mat-sort-header="name">Nome</th>
                <th mat-sort-header="value">Valor</th>
            </tr>

            @for (expense of expensesData(); track expense) {
            <tr>
                <td>{{expense.name}}</td>
                <td>{{expense.value}}</td>
                <button (click)="removeElement(expense.id, true)">X</button>
            </tr>
            }
            <tr>
                <td>Total: {{ totalExpenses() }}</td>
            </tr>
        </table>
        <div>
            <button (click)="addElement()" style="float: right; margin: 20px;">
                add expense
            </button>
        </div>
    </div>

    <div id="bonus-table">
        <h2>Ganhos</h2>
        <table matSort (matSortChange)="sortData($event, bonusData())">
            <tr>
                <th mat-sort-header="name">Nome</th>
                <th mat-sort-header="value">Valor</th>
            </tr>

            @for (expense of bonusData(); track expense) {
            <tr>
                <td>{{expense.name}}</td>
                <td>{{expense.value}}</td>
                <button (click)="removeElement(expense.id, false)">X</button>
            </tr>
            }
            <tr>
                <td>Total: {{ totalBonus() }}</td>
            </tr>
        </table>
        <div>
            <button (click)="addElement(false)" style="float: right; margin: 20px;">
                add bonus
            </button>
        </div>
    </div>
</div>