<div id="container">
  <div id="expenses-table">
    <h2>Despesas</h2>
    <table matSort (matSortChange)="sortData($event, expensesData())">
      <tr>
        <th mat-sort-header="detail">Nome</th>
        <th mat-sort-header="value">Valor</th>
      </tr>

      @for (expense of expensesData(); track expense.id) {
      <tr>
        <td>{{expense.detail}}</td>
        <td>{{expense.value}}</td>
        <button (click)="removeElement(expense.id, true)">X</button>
      </tr>
      }
      <tr class="total-amount">
        <td>Total:</td>
        <td>{{ totalExpenses() }}</td>
      </tr>
    </table>
    <form [formGroup]="expensesForm" class="expenses-input-form" (ngSubmit)="onSubmitExpense()"
      (keydown.enter)="onSubmitExpense()">
      <tr>
        <td>
          <mat-form-field class="expenses-input-form" floatLabel="always">
            <mat-label>Item</mat-label>
            <input #expenseValueInputRef matInput formControlName="detail">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="input-field" floatLabel="always">
            <mat-label>Valor</mat-label>
            <input matInput type="number" placeholder="0" class="input-amount-value" formControlName="value">
            <span matTextPrefix>R$&nbsp;</span>
          </mat-form-field>
        </td>
      </tr>
    </form>
    <div>
      <button (click)=" onSubmitExpense()" style="float: right; margin-right: 5px;">
        adicionar
      </button>
      <button [hidden]="!expenseChanged" (click)="onSave('expense', this.expensesData)" style="float: right; margin-right: 5px;">
        salvar
      </button>
    </div>
  </div>

  <div id="bonus-table">
    <h2>Ganhos</h2>
    <table matSort (matSortChange)="sortData($event, bonusData())">
      <tr>
        <th mat-sort-header="detail">Nome</th>
        <th mat-sort-header="value">Valor</th>
      </tr>

      @for (expense of bonusData(); track expense.id) {
      <tr>
        <td>{{expense.detail}}</td>
        <td>{{expense.value}}</td>
        <button (click)="removeElement(expense.id, false)">X</button>
      </tr>
      }
      <tr class="total-amount">
        <td>Total</td>
        <td>{{ totalBonus() }}</td>
      </tr>
    </table>
    <form [formGroup]="bonusForm" class="expenses-input-form" (ngSubmit)="onSubmitBonus()"
      (keydown.enter)="onSubmitBonus()">
      <tr>
        <td>
          <mat-form-field class="expenses-input-form" floatLabel="always">
            <mat-label>Item</mat-label>
            <input #bonusValueInputRef matInput formControlName="detail">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="input-field" floatLabel="always">
            <mat-label>Valor</mat-label>
            <input matInput type="number" placeholder="0" class="input-amount-value" formControlName="value">
            <span matTextPrefix>R$&nbsp;</span>
          </mat-form-field>
        </td>
      </tr>
    </form>
    <div>
      <button (click)="onSubmitBonus()" style="float: right; margin-right: 5px;">
        adicionar
      </button>
      <button [hidden]="!bonusChanged" (click)="onSave('bonus', this.bonusData)" style="float: right; margin-right: 5px;">
        salvar
      </button>
    </div>
  </div>
</div>
