<div id="month-tabs">
  <app-expense-list></app-expense-list>
  <ul class="tabs">
    @for (e of months(); track e.id) {
    <li (click)="onMonthClick(e)" [ngClass]="{'tab': true, 'active': (e.id === activeMonthId())}">{{e.date | date:
      'MMM'}}</li>
    }
  </ul>
</div>
<div id="container">
  <div id="expenses-table">
    <h2>Despesas</h2>
    <table matSort (matSortChange)="sortData($event, expensesData())">
      <tr>
        <th mat-sort-header="detail">Nome</th>
        <th mat-sort-header="value">Valor</th>
      </tr>

      @for (expense of expensesData(); track expense.id) {
      <tr>
        <td>{{expense.detail}}</td>
        <td>{{expense.value}}</td>
        <button (click)="removeElement(expense.id, true)">X</button>
      </tr>
      }
      <tr class="total-amount">
        <td>Total:</td>
        <td>{{ totalExpenses() }}</td>
      </tr>
    </table>
    <form [formGroup]="expensesForm" class="expenses-input-form"
      (keydown.enter)="onAddExpense(this.expensesForm, this.expensesData, 'expense')">
      <tr>
        <td>
          <mat-form-field class="expenses-input-form" floatLabel="always">
            <mat-label>Item</mat-label>
            <input #expenseValueInputRef matInput formControlName="detail">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="input-field" floatLabel="always">
            <mat-label>Valor</mat-label>
            <input matInput type="number" placeholder="0" class="input-amount-value" formControlName="value">
            <span matTextPrefix>R$&nbsp;</span>
          </mat-form-field>
        </td>
      </tr>
    </form>
    <div>
      <button (click)=" onAddExpense(this.expensesForm, this.expensesData, 'expense')" style="float: right;">
        adicionar
      </button>
      <button [hidden]="!expenseChanged" (click)="onSave('expense', this.expensesData)" style="float: right;">
        salvar
      </button>
    </div>
  </div>

  <div id="bonus-table">
    <h2>Ganhos</h2>
    <table matSort (matSortChange)="sortData($event, bonusData())">
      <tr>
        <th mat-sort-header="detail">Nome</th>
        <th mat-sort-header="value">Valor</th>
      </tr>

      @for (expense of bonusData(); track expense.id) {
      <tr>
        <td>{{expense.detail}}</td>
        <td>{{expense.value}}</td>
        <button (click)="removeElement(expense.id, false)">X</button>
      </tr>
      }
      <tr class="total-amount">
        <td>Total</td>
        <td>{{ totalBonus() }}</td>
      </tr>
    </table>
    <form [formGroup]="bonusForm" class="expenses-input-form"
      (keydown.enter)="onAddExpense(this.bonusForm, this.bonusData, 'bonus')">
      <tr>
        <td>
          <mat-form-field class="expenses-input-form" floatLabel="always">
            <mat-label>Item</mat-label>
            <input #bonusValueInputRef matInput formControlName="detail">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="input-field" floatLabel="always">
            <mat-label>Valor</mat-label>
            <input matInput type="number" placeholder="0" class="input-amount-value" formControlName="value">
            <span matTextPrefix>R$&nbsp;</span>
          </mat-form-field>
        </td>
      </tr>
    </form>
    <div>
      <button (click)="onAddExpense(this.bonusForm, this.bonusData, 'bonus')" style="float: right;">
        adicionar
      </button>
      <button [hidden]="!bonusChanged" (click)="onSave('bonus', this.bonusData)" style="float: right;">
        salvar
      </button>
    </div>
  </div>
</div>