:root {
    --grid-gap: 15px;
    --global-border-radius: 10px;
    --global-x-margin: 50px;
    --global-top-margin: 20px;
    --header-margin: 25px;
}

body {
    margin: 0 auto;
    padding: 0;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    margin-left: var(--global-x-margin);
    margin-right: var(--global-x-margin);
    gap: var(--grid-gap);
    grid-template-areas:
        "header header header header header"
        "sidebar content content content content"
        "footer footer footer footer footer"
}

.container #header,
#sidebar,
#content,
#footer {
    color: darkblue;
    background-color: blanchedalmond;
    box-shadow: 0px 2px 5px grey;
    border-radius: var(--global-border-radius);
    border: 1px solid white;
}

@media (max-width: 768px) {
    .container {
        grid-template-areas:
            "header header header header"
            "sidebar sidebar sidebar sidebar"
            "content content content content"
            "footer footer footer footer";
    }
}

@media (max-width: 480px) {
    .container {
        grid-template-areas:
            "header"
            "sidebar"
            "content"
            "footer";
        grid-template-columns: 1fr;
    }
}

#header {
    margin-top: var(--global-top-margin);
    background-color: transparent;
    grid-area: header;
}

#sidebar {
    grid-area: sidebar;
}

#content {
    grid-area: content;
}

#footer {
    display: none;
    grid-area: footer;
}